input{
    height:100px;
    width:70px;
    /* border:none; */
    margin: 0px 10px;
    font-size: 50px;
    text-align: center;
    width: 100%;
}

.input-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    width: 100%;
}
.button-box{
    display: grid;
    width: 100%;
    background-color: red;
    grid-template-columns: repeat(3, 1fr);
}
#stop{
    display: none;
}
button{
    margin: 0px 10px;
    width:100%;
    margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



